{% extends "base.html" %}
{% block title %}home page{% endblock %}
{% block content %}
    <style>
    body {
      margin: 0;
      padding: 0;
      background-image: url(./static/Homepage.png);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 40px;
      text-align: center;
      background-image: url(./static/Homepage.png);
      background-repeat: no-repeat;
      background-size: cover;
    }


  </style>
    
{% endblock %}